@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #09172a;
  --background: #ffedd5;
  --bg-1: #09172a;
  --bg-2: #0f444b;
  --bg-3: #1e052f;
  --fg-1: #ffedd5;
  --fg-2: #80d8a8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d1ccc5;
    --background: #09172a;
    --foreground2: #bddcce;
    --background2: #212f3f;
  }
} */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-1 {
  color: var(--bg-1);
  background: var(--fg-1);
}

.theme-1-r {
  color: var(--fg-1);
  background: var(--bg-1);
}

.theme-2-1 {
  color: var(--fg-2);
  background: var(--bg-1);
}

.theme-1-2 {
  color: var(--fg-1);
  background: var(--bg-2);
}

.theme-2 {
  color: var(--bg-2);
  background: var(--fg-2);
}

.theme-2-r {
  color: var(--fg-2);
  background: var(--bg-2);
}

.btn {
  @apply font-bold py-1 px-4 rounded;
}

.title {
  color: var(--fg-2);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 150px;
  font-weight: 100px;
}

iframe {
  border: none;
}